@import './base.css';
body {
  background-color: rgb(245, 245, 245);
}

#app {
  width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(94, 49, 255);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(241, 100%, 50%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    background-color: none;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 2rem;
  }
}
